# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @neptune-ai/python-dev will be requested for
# review when someone opens a pull request.
/*               @neptune-ai/python-devs

# File/directory specific owners
/README.md       @neptune-ai/tech-writers @neptune-ai/python-devs
