# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Raalsky, @AleksanderWWW and @szysad will be requested for
# review when someone opens a pull request.
/*               @Raalsky @AleksanderWWW @szysad

# File/directory specific owners
/README.md       @normandy7 @Raalsky @AleksanderWWW @szysad
