repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--settings-path, pyproject.toml]
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [--config, pyproject.toml]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: insert-license
        files: ^src/neptune/new/.*\.py$
        args: ["--license-filepath", ".github/license_header.txt"]
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        entry: pflake8
        additional_dependencies: [pyproject-flake8]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
        args: [ --config-file, pyproject.toml ]
        pass_filenames: false
  - repo: https://github.com/trufflesecurity/trufflehog.git
    rev: v3.40.0
    hooks:
      - id: trufflehog
        name: secret scan
        entry: trufflehog filesystem ./
        args:
          - --only-verified
          - --fail
exclude: |
  (?x)(
     ^tests/unit/data/|
     ^.github/license_header\.txt
  )
default_language_version:
    python: python3
