sudo: false
dist: xenial
language: python
python:
- '2.7'
- '3.5'
- '3.6'
- '3.7'
- '3.8'
install:
- pip install -r requirements.txt
- pip install -r test_requirements.txt
- pip install tox-travis
script:
- python -m pylint -j 0 -f parseable neptune tests
- tox
deploy:
  provider: pypi
  user: neptune-deployer
  password:
    secure: l86OrzPg6kTQk45/0GQkEQf71H/dHJGHLMncjOs8Ajpr4y6MNt9OaZ90EnRrPRTtUMYSMyjEwQolNGPGYGQtFlBmfEnGWw0mMwpwHy9zN1XY/OEgx7KGW6V9JUk3bRjtL3Sj8dklVK3tzVnJ4z9o6r8yElBwlYd5+upPuT1DeHzRLlAUvtdUPtMR3Gi6BBFtK7KNx+PZGv6wnPuNHNvWrWJ03GNz5ZFlLtk01grGcEUUYPMGFclOrryYMbj9gm68eZt6+L3TmXh3a41iRCH5UZpZDMXlzi7VIj8fh9FFWdecOWJWLvT3D2eLElTjuS4Df+Jy0rwIUXYcSRxumVEzqjFGN+ZsRysH/2wabnGsb6CYKu5Bgw4pYY0LLK1mE2LgYzNYuBpqHlv7HzS4pNH+RENfoHsPdBwgTf/551qXWiTepYU0bxhzWAP1CTzWAPsfJOFjIVHxXGQTVj5xMcVhQ5GCGJ/iOkOyrxWD1KZ2V717VxVATbYzh6F/PcTmDK/1RH8mK5lTWdsjJnq/4RJ6slH7gejPCQw1WpRsI6SdjZLYGZ63K4pD0FxHCE/TXbmKJqAWhRGSI0xBy3sow9mdgM7ggrljAfYSDdLoEIUpyU2aLh6ShzXKrsIl6UzllwlFtOofZJXJN4V7bjaBkJng8lHD8u8t3gcRGvlJ1uvKyT8=
  on:
    tags: true
  skip_existing: true
