-e .

# dev
Faker
freezegun
mock
moto[s3]<5.0.0
munch
mypy
pre-commit
pytest
pytest-cov
pytest-mock
pytest-timeout
pytest-xdist
vega_datasets
backoff
altair
bokeh
matplotlib
seaborn
plotly
tensorflow
torch
typing_extensions>=4.6.0

# e2e
scikit-learn
torchvision
accelerate
backoff
