freezegun
mock
munch
pylint
pylintfileheader
pytest
pytest-cov
pytest-xdist
tensorflow; python_version <= '3.9'
tox
pytest-timeout
matplotlib==3.2
pytest-mock
moto[s3]
plotly
altair
vega_datasets
bokeh
pre-commit

# Installing Torch on Windows increases the test duration by ~10 minutes
torch; platform_system != 'Windows' and python_version <= '3.9'
