mock==2.0.0
munch==2.3.2
psutil==5.5.0
pylint==1.9.4; python_version < '3.0'
pylint==2.3.1; python_version >= '3.0'
pylintfileheader==0.0.2
pytest==4.1.0
pytest-cov==2.6.1
pytest-xdist==1.25.0
tox==3.6.1
