# Install development package as some integrations are checking that neptune-client will be listed by distutils
-e .[dev]
-r ./test_requirements.txt

Faker
pytest-tap

# integrations
pytorch-lightning
torchvision
sklearn
