-r ./test_requirements.txt

Faker
pytest-tap

# integrations
pytorch-lightning
torchvision
sklearn
# Update it with `transformers` after release
git+https://github.com/neptune-ai/transformers.git@rj/logging-metadata#egg=transformers
