bravado
click>=7.0
future>=0.17.1
oauthlib>=2.1.0
pandas
Pillow>=1.1.6
PyJWT
requests>=2.20.0
requests-oauthlib>=1.0.0
six>=1.12.0
websocket-client>=0.35.0
GitPython>=2.0.8
packaging
urllib3
dataclasses>=0.6; python_version<"3.7"
