{"swagger":"2.0","info":{"description":"Public REST API","version":"1.0.0","title":"Neptune Leaderboard REST API","termsOfService":"Terms of service","contact":{"name":"Neptune","url":"https://neptune.ml","email":"contact@neptune.ml"},"license":{}},"host":"app.neptune.ai","basePath":"/","tags":[{"name":"artifacts","description":"Artifacts Api Controller"}],"paths":{"/api/artifacts/v1/artifact":{"get":{"summary":"Get artifact","operationId":"getArtifact","produces":["application/json"],"parameters":[{"name":"hash","in":"query","description":"hash","required":true,"type":"string"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArtifactDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"post":{"summary":"Create artifact version","operationId":"createArtifactVersion","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"artifactFilesDTO","description":"artifactFilesDTO","required":true,"schema":{"$ref":"#/definitions/ArtifactFilesDTO"}},{"name":"hash","in":"query","description":"hash","required":true,"type":"string"},{"name":"parentIdentifier","in":"query","description":"parentIdentifier","required":true,"type":"string"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArtifactDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"put":{"summary":"Create new artifact","operationId":"createNewArtifact","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"hash","in":"query","description":"hash","required":true,"type":"string"},{"name":"parentIdentifier","in":"query","description":"parentIdentifier","required":true,"type":"string"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"name":"size","in":"query","description":"size","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArtifactDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/artifacts/v1/artifact/files":{"get":{"summary":"Get artifact files","operationId":"listArtifactFiles","produces":["application/json"],"parameters":[{"name":"hash","in":"query","description":"hash","required":true,"type":"string"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArtifactFilesDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"put":{"summary":"Upload artifact files","operationId":"uploadArtifactFilesMetadata","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"artifactFilesDTO","description":"artifactFilesDTO","required":true,"schema":{"$ref":"#/definitions/ArtifactFilesDTO"}},{"name":"hash","in":"query","description":"hash","required":true,"type":"string"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArtifactDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}}},"definitions":{"ArtifactDTO":{"type":"object","required":["artifactHash","projectId","receivedMetadata"],"properties":{"artifactHash":{"type":"string","description":"Hash based on artifact data (SHA-1)."},"projectId":{"type":"string","format":"uuid","description":"Id of project to which artifact is bound."},"receivedMetadata":{"type":"boolean","description":"If information about artifact files was uploaded."},"size":{"type":"integer","format":"int64","description":"Size of artifact files in bytes."}},"title":"ArtifactDTO"},"ArtifactFileDTO":{"type":"object","required":["fileHash","filePath","metadata","type"],"properties":{"fileHash":{"type":"string","description":"Hash of file."},"filePath":{"type":"string","description":"Location of file inside the artifact."},"metadata":{"type":"array","description":"File-type related data.","items":{"$ref":"#/definitions/ArtifactFileMetadataEntryDTO"}},"size":{"type":"integer","format":"int64","description":"Size of file."},"type":{"type":"string","description":"File type."}},"title":"ArtifactFileDTO"},"ArtifactFileMetadataEntryDTO":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string"},"value":{"type":"string"}},"title":"ArtifactFileMetadataEntryDTO"},"ArtifactFilesDTO":{"type":"object","required":["files"],"properties":{"files":{"type":"array","items":{"$ref":"#/definitions/ArtifactFileDTO"}}},"title":"ArtifactFilesDTO"}}}