{"swagger":"2.0","info":{"description":"Public REST API","version":"1.0.0","title":"Neptune Leaderboard REST API","termsOfService":"Terms of service","contact":{"name":"Neptune","url":"https://neptune.ml","email":"contact@neptune.ml"},"license":{}},"host":"app.neptune.ai","basePath":"/","tags":[{"name":"attributes","description":"Provides attributes api"},{"name":"dashboards","description":"Dashboards Api Controller"},{"name":"experiments","description":"Provides experiments api"},{"name":"leaderboard","description":"Provides alias api"},{"name":"notebooks","description":"Provides notebooks api"}],"paths":{"/api/leaderboard/v1/aliases/":{"get":{"summary":"List project aliases","operationId":"listProjectAliases","produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Alias"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"post":{"summary":"Create alias","operationId":"createAlias","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"aliasToCreate","description":"aliasToCreate","required":true,"schema":{"$ref":"#/definitions/AliasParams"}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Alias"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/aliases/{aliasId}":{"get":{"summary":"Get alias","operationId":"getAlias","produces":["application/json"],"parameters":[{"name":"aliasId","in":"path","description":"aliasId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Alias"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"put":{"summary":"Update alias","operationId":"updateAlias","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"aliasId","in":"path","description":"aliasId","required":true,"type":"string","format":"uuid"},{"in":"body","name":"aliasToUpdate","description":"aliasToUpdate","required":true,"schema":{"$ref":"#/definitions/AliasParams"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Alias"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"delete":{"summary":"Delete alias","operationId":"deleteAlias","produces":["application/json"],"parameters":[{"name":"aliasId","in":"path","description":"aliasId","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes":{"get":{"summary":"Get experiment attributes","operationId":"getExperimentAttributes","produces":["application/json"],"parameters":[{"name":"experimentId","in":"query","description":"experimentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExperimentAttributesDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/artifacts":{"get":{"summary":"Get artifact attribute","operationId":"getArtifactAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ArtifactAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/attributes":{"get":{"summary":"Get attributes","operationId":"getAttributes","produces":["application/json"],"parameters":[{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AttributesDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/booleans":{"get":{"summary":"Get boolean attribute","operationId":"getBoolAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BoolAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/datetimes":{"get":{"summary":"Get datetime attribute","operationId":"getDatetimeAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DatetimeAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/download":{"get":{"summary":"Download file attribute","operationId":"downloadAttribute","produces":["application/json","application/octet-stream"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"expectedContentDisposition","in":"query","description":"expectedContentDisposition","required":false,"type":"string","default":"attachment","enum":["inline","attachment"]},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"},{"name":"path","in":"query","description":"path","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/downloadFileSetZipRequest":{"post":{"summary":"Creates fileset attribute's zip download request","operationId":"prepareForDownloadFileSetAttributeZip","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DownloadPrepareRequest"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/files":{"get":{"summary":"Get file attribute","operationId":"getFileAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FileAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/floatSeries":{"get":{"summary":"Get float series attribute","operationId":"getFloatSeriesAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FloatSeriesAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/floatSeries/csv":{"get":{"summary":"Get values of a float series","operationId":"getFloatSeriesValuesCSV","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"expectedContentDisposition","in":"query","description":"expectedContentDisposition","required":false,"type":"string","default":"attachment","enum":["inline","attachment"]},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"gzipped","in":"query","description":"gzipped","required":false,"type":"boolean"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/floatSeries/csv/multiple":{"post":{"summary":"Get multiple float series in single ZIP","operationId":"getMultipleFloatSeriesValuesCSV","consumes":["application/json"],"produces":["application/json","application/zip"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/AttributesRequestsListDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DownloadPrepareRequest"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/floats":{"get":{"summary":"Get float attribute","operationId":"getFloatAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FloatAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/imageSeries/zip":{"get":{"summary":"Get values of a image series","operationId":"getImageSeriesValuesZip","produces":["application/json","application/zip"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"expectedContentDisposition","in":"query","description":"expectedContentDisposition","required":false,"type":"string","default":"attachment","enum":["inline","attachment"]},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/integers":{"get":{"summary":"Get integer attribute","operationId":"getIntAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IntAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/ls":{"get":{"summary":"List files in attribute of type File Set","operationId":"lsFileSetAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"},{"name":"path","in":"query","description":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FileEntry"}}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/operations":{"post":{"summary":"Execute operations","operationId":"executeOperations","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"User-Agent","in":"header","description":"User-Agent","required":false,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"},{"in":"body","name":"operations","description":"operations","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Operation"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/OperationError"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too many requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/ping":{"post":{"summary":"Ping experiment","operationId":"ping","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too many requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/series/float":{"get":{"summary":"Get float series values","operationId":"getFloatSeriesValues","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FloatSeriesValuesDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/series/image":{"get":{"summary":"Get image series values","operationId":"getImageSeriesValues","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ImageSeriesValuesDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/series/image/single":{"get":{"summary":"Get image series single value","operationId":"getImageSeriesValue","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"},{"name":"index","in":"query","description":"index","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/series/string":{"get":{"summary":"Get string series values","operationId":"getStringSeriesValues","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StringSeriesValuesDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/storage/file/upload":{"post":{"summary":"fileAtomUpload","operationId":"fileAtomUpload","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentIdentifier","in":"query","description":"experimentIdentifier","required":true,"type":"string"},{"name":"ext","in":"query","description":"ext","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationErrorsListDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/storage/file/upload/finish":{"post":{"summary":"fileAtomMultipartUploadFinish","operationId":"fileAtomMultipartUploadFinish","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentIdentifier","in":"query","description":"experimentIdentifier","required":true,"type":"string"},{"name":"uploadId","in":"query","description":"uploadId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationErrorsListDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/storage/file/upload/part":{"post":{"summary":"fileAtomMultipartUploadPart","operationId":"fileAtomMultipartUploadPart","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentIdentifier","in":"query","description":"experimentIdentifier","required":true,"type":"string"},{"name":"uploadId","in":"query","description":"uploadId","required":true,"type":"string"},{"name":"uploadPartIdx","in":"query","description":"uploadPartIdx","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationErrorsListDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/storage/file/upload/start":{"post":{"summary":"fileAtomMultipartUploadStart","operationId":"fileAtomMultipartUploadStart","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentIdentifier","in":"query","description":"experimentIdentifier","required":true,"type":"string"},{"name":"ext","in":"query","description":"ext","required":true,"type":"string"},{"name":"totalLength","in":"query","description":"totalLength","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UploadMetadataDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/storage/fileset/upload":{"post":{"summary":"fileSetFileUpload","operationId":"fileSetFileUpload","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentIdentifier","in":"query","description":"experimentIdentifier","required":true,"type":"string"},{"name":"subPath","in":"query","description":"subPath","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationErrorsListDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/storage/fileset/upload/finish":{"post":{"summary":"fileSetFileMultipartUploadFinish","operationId":"fileSetFileMultipartUploadFinish","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentIdentifier","in":"query","description":"experimentIdentifier","required":true,"type":"string"},{"name":"subPath","in":"query","description":"subPath","required":true,"type":"string"},{"name":"uploadId","in":"query","description":"uploadId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationErrorsListDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/storage/fileset/upload/part":{"post":{"summary":"fileSetFileMultipartUploadPart","operationId":"fileSetFileMultipartUploadPart","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentIdentifier","in":"query","description":"experimentIdentifier","required":true,"type":"string"},{"name":"subPath","in":"query","description":"subPath","required":true,"type":"string"},{"name":"uploadId","in":"query","description":"uploadId","required":true,"type":"string"},{"name":"uploadPartIdx","in":"query","description":"uploadPartIdx","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OperationErrorsListDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/storage/fileset/upload/start":{"post":{"summary":"fileSetFileMultipartUploadStart","operationId":"fileSetFileMultipartUploadStart","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentIdentifier","in":"query","description":"experimentIdentifier","required":true,"type":"string"},{"name":"subPath","in":"query","description":"subPath","required":true,"type":"string"},{"name":"totalLength","in":"query","description":"totalLength","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UploadMetadataDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/stringSeries":{"get":{"summary":"Get string series attribute","operationId":"getStringSeriesAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StringSeriesAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/stringSeries/csv":{"get":{"summary":"Get values of a string series","operationId":"getStringSeriesValuesCSV","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"expectedContentDisposition","in":"query","description":"expectedContentDisposition","required":false,"type":"string","default":"attachment","enum":["inline","attachment"]},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"gzipped","in":"query","description":"gzipped","required":false,"type":"boolean"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/stringSets":{"get":{"summary":"Get string set attribute","operationId":"getStringSetAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StringSetAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/strings":{"get":{"summary":"Get string attribute","operationId":"getStringAttribute","produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"holderIdentifier","in":"query","description":"holderIdentifier","required":false,"type":"string"},{"name":"holderType","in":"query","description":"holderType","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StringAttributeDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/upload":{"post":{"summary":"Upload file attribute","operationId":"uploadAttribute","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"ext","in":"query","description":"ext","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Optional«OperationError»"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/uploadFileSetChunk":{"post":{"summary":"Upload fileset attribute's file's chunk","operationId":"uploadFileSetAttributeChunk","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"path","in":"query","description":"path","required":true,"type":"string"},{"name":"reset","in":"query","description":"reset","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Optional«OperationError»"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/attributes/uploadFileSetTar":{"post":{"summary":"Upload fileset attribute's file's tar stream","operationId":"uploadFileSetAttributeTar","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"attribute","in":"query","description":"attribute","required":true,"type":"string"},{"name":"experimentId","in":"query","description":"experimentId","required":false,"type":"string"},{"name":"reset","in":"query","description":"reset","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Optional«OperationError»"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/audit":{"get":{"summary":"Get organization audit data","operationId":"getAuditInfo","produces":["application/json"],"parameters":[{"name":"organizationIdentifier","in":"query","description":"organizationIdentifier","required":true,"type":"string"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":false,"type":"string"},{"name":"username","in":"query","description":"username","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuditInfo"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/channels/view":{"post":{"summary":"Get series view by channel UUIDs","operationId":"getSeriesView","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pointCount","in":"query","description":"pointCount","required":false,"type":"integer","default":1000,"format":"int32"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/SeriesViewRequestDTO"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SeriesViewListDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/channels/{channelId}/values":{"get":{"summary":"Get values of a channel","operationId":"getChannelValues","produces":["application/json"],"parameters":[{"name":"channelId","in":"path","description":"channelId","required":true,"type":"string","format":"uuid"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LimitedChannelValuesDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":true}},"/api/leaderboard/v1/dashboards":{"get":{"summary":"List dashboards","operationId":"listDashboards","produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardListDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"post":{"summary":"Create dashboard","operationId":"createDashboard","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"createDashboard","description":"createDashboard","required":true,"schema":{"$ref":"#/definitions/NewDashboardDTO"}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/DashboardDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/dashboards/{dashboardId}":{"get":{"summary":"Get dashboard","operationId":"getDashboard","produces":["application/json"],"parameters":[{"name":"dashboardId","in":"path","description":"dashboardId","required":true,"type":"string","format":"uuid"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"put":{"summary":"Update dashboard","operationId":"updateDashboard","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"dashboardId","in":"path","description":"dashboardId","required":true,"type":"string","format":"uuid"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"in":"body","name":"updateDashboard","description":"updateDashboard","required":true,"schema":{"$ref":"#/definitions/UpdateDashboardDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"delete":{"summary":"Delete dashboard","operationId":"deleteDashboard","produces":["application/json"],"parameters":[{"name":"dashboardId","in":"path","description":"dashboardId","required":true,"type":"string","format":"uuid"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/download/downloadFile":{"get":{"summary":"Get download stream","operationId":"download","produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/download/downloadRequest":{"get":{"summary":"Get download request","operationId":"getDownloadPrepareRequest","produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DownloadPrepareRequest"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experimentStats/project":{"get":{"summary":"Get experiment stats for project","operationId":"experimentProjectStats","produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExperimentStats"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experimentStats/user":{"get":{"summary":"Get experiment stats for user","operationId":"experimentUserStats","produces":["application/json"],"parameters":[{"name":"organization","in":"query","description":"organization","required":true,"type":"string"},{"name":"username","in":"query","description":"username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExperimentStats"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments":{"get":{"summary":"Get experiment","operationId":"getExperiment","produces":["application/json"],"parameters":[{"name":"experimentId","in":"query","description":"experimentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Experiment"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"post":{"summary":"Create experiment","operationId":"createExperiment","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"User-Agent","in":"header","description":"User-Agent","required":false,"type":"string"},{"name":"X-Neptune-CliVersion","in":"header","description":"X-Neptune-CliVersion","required":false,"type":"string"},{"name":"X-Neptune-LegacyClient","in":"header","description":"X-Neptune-LegacyClient","required":false,"type":"boolean"},{"in":"body","name":"experimentCreationParams","description":"experimentCreationParams","required":true,"schema":{"$ref":"#/definitions/ExperimentCreationParams"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Experiment"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments/select":{"post":{"summary":"Validate experiments clipboard","operationId":"validateExperimentsClipboard","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"experimentIdentifiers","description":"experimentIdentifiers","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"name":"trashed","in":"query","description":"trashed","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOpResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments/signal":{"post":{"summary":"Signal Experiment","operationId":"signalRuns","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"in":"body","name":"signal","description":"signal","required":true,"schema":{"$ref":"#/definitions/Signal"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOpResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments/tags":{"post":{"summary":"Update tags in experiments","operationId":"updateTags2","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"in":"body","name":"updateTagsParams","description":"updateTagsParams","required":true,"schema":{"$ref":"#/definitions/UpdateTagsParams"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOpResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments/trash":{"post":{"summary":"Trash experiments","operationId":"trashExperiments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"experimentIdentifiers","description":"experimentIdentifiers","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOpResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments/trash/delete":{"post":{"summary":"Delete experiments from trash","operationId":"deleteExperiments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"experimentIdentifiers","description":"experimentIdentifiers","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOpResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments/trash/deleteAll":{"post":{"summary":"Delete experiments from trash","operationId":"deleteAllExperiments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOpResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments/trash/restore":{"post":{"summary":"Restore experiments from trash","operationId":"restoreExperiments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"experimentIdentifiers","description":"experimentIdentifiers","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOpResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/experiments/trash/restoreAll":{"post":{"summary":"Restore experiments from trash","operationId":"restoreAllExperiments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOpResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/images/{experimentId}/{channelId}/{fileName}":{"get":{"summary":"Get image","operationId":"getChannelImage","produces":["application/json"],"parameters":[{"name":"channelId","in":"path","description":"channelId","required":true,"type":"string","format":"uuid"},{"name":"experimentId","in":"path","description":"experimentId","required":true,"type":"string","format":"uuid"},{"name":"fileName","in":"path","description":"fileName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/leaderboard":{"get":{"summary":"Get leaderboard","operationId":"getLeaderboard","produces":["application/json"],"parameters":[{"name":"entryType","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"filterId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"flattingMode","in":"query","required":false,"type":"string"},{"name":"groupBy","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"groupByFieldAggregationMode","in":"query","required":false,"type":"array","items":{"type":"string","enum":["last","min","max","average","variance","auto"]},"collectionFormat":"multi","enum":["last","min","max","average","variance","auto"]},{"name":"groupId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"groupShortId","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"limit","in":"query","required":false,"type":"integer","format":"int32"},{"name":"minRunningTimeSeconds","in":"query","required":false,"type":"integer","format":"int64"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"openedGroups","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"organizationIdentifier","in":"query","description":"organizationIdentifier","required":false,"type":"string"},{"name":"owner","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":false,"type":"string"},{"name":"selectedChannels","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"shortId","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sortBy","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sortDirection","in":"query","required":false,"type":"array","items":{"type":"string","enum":["ascending","descending"]},"collectionFormat":"multi","enum":["ascending","descending"]},{"name":"sortFieldAggregationMode","in":"query","required":false,"type":"array","items":{"type":"string","enum":["last","min","max","average","variance","auto"]},"collectionFormat":"multi","enum":["last","min","max","average","variance","auto"]},{"name":"tags","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"tagsMode","in":"query","required":false,"type":"string","enum":["and","or"]},{"name":"trashed","in":"query","required":false,"type":"string","enum":["false","true","all"]},{"name":"state","in":"query","required":false,"type":"array","items":{"$ref":"#/definitions/ExperimentStateDTO"},"collectionFormat":"multi"},{"name":"groupByFieldType","in":"query","required":false,"type":"array","items":{"$ref":"#/definitions/AttributeTypeDTO"},"collectionFormat":"multi"},{"name":"sortFieldType","in":"query","required":false,"type":"array","items":{"$ref":"#/definitions/AttributeTypeDTO"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LeaderboardDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/leaderboard/attributes/search":{"post":{"summary":"List definitions of all attributes in project","operationId":"searchLeaderboardAttributes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","format":"int32"},{"in":"body","name":"params","description":"params","required":true,"schema":{"$ref":"#/definitions/SearchLeaderboardParamsDTO"}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"name":"search","in":"query","description":"search","required":false,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AttributesSearchResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/leaderboard/entries/search":{"post":{"summary":"Get leaderboard","operationId":"searchLeaderboardEntries","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"params","description":"params","required":true,"schema":{"$ref":"#/definitions/SearchLeaderboardEntriesParamsDTO"}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LeaderboardEntriesSearchResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/leaderboard/tags/search":{"post":{"summary":"Get tags defined in experiments within project","operationId":"searchLeaderboardTags","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"params","description":"params","required":true,"schema":{"$ref":"#/definitions/SearchLeaderboardParamsDTO"}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TagsSearchResultDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/notebooks":{"get":{"summary":"Get notebooks","operationId":"listNotebooks","produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":100,"format":"int32"},{"name":"maxCreationTime","in":"query","description":"maxCreationTime","required":false,"type":"string","format":"date-time"},{"name":"minCreationTime","in":"query","description":"minCreationTime","required":false,"type":"string","format":"date-time"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","default":0,"format":"int32"},{"name":"owner","in":"query","description":"owner","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"name":"sortBy","in":"query","description":"sortBy","required":false,"type":"array","items":{"type":"string","enum":["name","owner","updateTime"]},"collectionFormat":"multi","enum":["name","owner","updateTime"]},{"name":"sortDirection","in":"query","description":"sortDirection","required":false,"type":"array","items":{"type":"string","enum":["ascending","descending"]},"collectionFormat":"multi","enum":["ascending","descending"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NotebookListDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"post":{"summary":"Create notebook","operationId":"createNotebook","consumes":["application/octet-stream"],"produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NotebookWithNoContentDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/notebooks/checkpoints":{"get":{"summary":"Get notebook checkpoints","operationId":"listCheckpoints","produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"array","items":{"type":"string","format":"uuid"},"collectionFormat":"multi"},{"name":"limit","in":"query","description":"limit","required":false,"type":"integer","default":100,"format":"int32"},{"name":"maxCreationTime","in":"query","description":"maxCreationTime","required":false,"type":"string","format":"date-time"},{"name":"minCreationTime","in":"query","description":"minCreationTime","required":false,"type":"string","format":"date-time"},{"name":"notebookId","in":"query","description":"notebookId","required":true,"type":"string","format":"uuid"},{"name":"offset","in":"query","description":"offset","required":false,"type":"integer","default":0,"format":"int32"},{"name":"owner","in":"query","description":"owner","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"searchTerm","in":"query","description":"searchTerm","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckpointListDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/notebooks/checkpoints/{id}":{"get":{"summary":"Get notebook checkpoint","operationId":"getCheckpoint","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckpointDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"delete":{"summary":"Delete checkpoint","operationId":"deleteCheckpoint","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"patch":{"summary":"Update checkpoint","operationId":"updateCheckpoint","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"checkpointUpdate","description":"checkpointUpdate","required":true,"schema":{"$ref":"#/definitions/CheckpointUpdateDTO"}},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckpointDTO"}},"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/notebooks/checkpoints/{id}/content":{"get":{"summary":"Get notebook checkpoint content","operationId":"getCheckpointContent","produces":["application/json"],"parameters":[{"name":"expectedContentDisposition","in":"query","description":"expectedContentDisposition","required":false,"type":"string","default":"attachment","enum":["inline","attachment"]},{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"post":{"summary":"Upload checkpoint content","operationId":"uploadCheckpointContent","consumes":["application/octet-stream"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/notebooks/compare":{"get":{"summary":"Compare notebook checkpoint content, response is in nbdime rest api format","operationId":"compareCheckpointsContent","produces":["application/json"],"parameters":[{"name":"sourceCheckpointId","in":"query","description":"sourceCheckpointId","required":true,"type":"string","format":"uuid"},{"name":"targetCheckpointId","in":"query","description":"targetCheckpointId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"file"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/notebooks/{id}":{"get":{"summary":"Get notebook","operationId":"getNotebook","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NotebookDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"delete":{"summary":"Delete notebook","operationId":"deleteNotebook","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"patch":{"summary":"Update notebook","operationId":"updateNotebook","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"},{"in":"body","name":"notebookUpdate","description":"notebookUpdate","required":true,"schema":{"$ref":"#/definitions/NotebookUpdateDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NotebookDTO"}},"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/notebooks/{notebookId}/checkpoints":{"post":{"summary":"Create checkpoint","operationId":"createCheckpoint","consumes":["application/octet-stream"],"produces":["application/json"],"parameters":[{"name":"description","in":"query","description":"description","required":false,"type":"string"},{"name":"jupyterPath","in":"query","description":"jupyterPath","required":true,"type":"string"},{"name":"name","in":"query","description":"name","required":false,"type":"string"},{"name":"notebookId","in":"path","description":"notebookId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NotebookDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable entity"},"429":{"description":"Too Many Requests"}},"deprecated":true}},"/api/leaderboard/v1/notebooks/{notebookId}/checkpoints2":{"post":{"summary":"Create checkpoint","operationId":"createEmptyCheckpoint","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"checkpoint","description":"checkpoint","required":true,"schema":{"$ref":"#/definitions/NewCheckpointDTO"}},{"name":"notebookId","in":"path","description":"notebookId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckpointDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/prepareForDownloadLeaderboardCsv":{"post":{"summary":"Prepare download leaderboard as CSV","operationId":"prepareForDownloadLeaderboardCsv","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"csvExporting","description":"csvExporting","required":true,"schema":{"$ref":"#/definitions/LeaderboardCsvExportParamsDTO"}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/DownloadPrepareRequest"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/projectCharts/{projectIdentifier}":{"get":{"summary":"listCharts","operationId":"listProjectCharts","produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"path","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectChartListDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"post":{"summary":"Create chart","operationId":"createProjectChart","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"chart","description":"chart","required":true,"schema":{"$ref":"#/definitions/NewProjectChartDTO"}},{"name":"projectIdentifier","in":"path","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectChartDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/projectCharts/{projectIdentifier}/{chartId}":{"get":{"summary":"Get chart","operationId":"getProjectChart","produces":["application/json"],"parameters":[{"name":"chartId","in":"path","description":"chartId","required":true,"type":"string","format":"uuid"},{"name":"projectIdentifier","in":"path","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectChartDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"put":{"summary":"Update chart","operationId":"updateProjectChart","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"chartId","in":"path","description":"chartId","required":true,"type":"string","format":"uuid"},{"name":"projectIdentifier","in":"path","description":"projectIdentifier","required":true,"type":"string"},{"in":"body","name":"update","description":"update","required":true,"schema":{"$ref":"#/definitions/ProjectChartUpdateDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProjectChartDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"delete":{"summary":"Delete chart","operationId":"deleteProjectChart","produces":["application/json"],"parameters":[{"name":"chartId","in":"path","description":"chartId","required":true,"type":"string","format":"uuid"},{"name":"projectIdentifier","in":"path","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/suggestions/decline":{"post":{"summary":"Decline column suggestion from the project","operationId":"suggestionDecline","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"in":"body","name":"suggestion","description":"suggestion","required":true,"schema":{"$ref":"#/definitions/LeaderboardFieldSuggestionDTO"}},{"name":"viewId","in":"query","description":"viewId","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/tracking":{"post":{"summary":"List tracking data","operationId":"listTrackingData","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"projectIdentifiers","description":"projectIdentifiers","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TrackingDataDTO"}}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/views":{"get":{"summary":"List views in project","operationId":"listLeaderboardViews","produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LeaderboardViewListDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"post":{"summary":"Create view in project","operationId":"createLeaderboardView","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"createView","description":"createView","required":true,"schema":{"$ref":"#/definitions/NewLeaderboardViewDTO"}},{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/LeaderboardViewDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/views/setDefault":{"post":{"summary":"Set default","operationId":"setDefaultView","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"setDefaultOperation","description":"setDefaultOperation","required":true,"schema":{"$ref":"#/definitions/LeaderboardViewSetDefaultDTO"}}],"responses":{"201":{"description":"Created"},"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}},"/api/leaderboard/v1/views/{viewId}":{"get":{"summary":"Get view","operationId":"getLeaderboardView","produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"name":"viewId","in":"path","description":"viewId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LeaderboardViewDTO"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"put":{"summary":"Update view","operationId":"updateLeaderboardView","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"in":"body","name":"updateView","description":"updateView","required":true,"schema":{"$ref":"#/definitions/LeaderboardViewUpdateDTO"}},{"name":"viewId","in":"path","description":"viewId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LeaderboardViewDTO"}},"201":{"description":"Created"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false},"delete":{"summary":"Delete view","operationId":"deleteLeaderboardView","produces":["application/json"],"parameters":[{"name":"projectIdentifier","in":"query","description":"projectIdentifier","required":true,"type":"string"},{"name":"viewId","in":"path","description":"viewId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"408":{"description":"Request Timeout"},"409":{"description":"Conflict"},"422":{"description":"Unprocessable Entity"},"429":{"description":"Too Many Requests"}},"deprecated":false}}},"definitions":{"Alias":{"type":"object","required":["channels","id","name","projectId"],"properties":{"channels":{"type":"array","items":{"type":"string"}},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"projectId":{"type":"string","format":"uuid"}},"title":"Alias"},"AliasParams":{"type":"object","required":["channels","name"],"properties":{"channels":{"type":"array","items":{"type":"string"}},"name":{"type":"string"}},"title":"AliasParams"},"ArtifactAttributeDTO":{"type":"object","required":["attributeName","attributeType","hash"],"properties":{"attributeName":{"type":"string"},"attributeType":{"$ref":"#/definitions/AttributeTypeDTO"},"hash":{"type":"string"}},"title":"ArtifactAttributeDTO"},"AssignArtifactOperation":{"type":"object","required":["hash"],"properties":{"hash":{"type":"string"}},"title":"AssignArtifactOperation"},"AssignBoolOperation":{"type":"object","required":["value"],"properties":{"value":{"type":"boolean"}},"title":"AssignBoolOperation"},"AssignDatetimeOperation":{"type":"object","required":["valueMilliseconds"],"properties":{"valueMilliseconds":{"type":"integer","format":"int64"}},"title":"AssignDatetimeOperation"},"AssignFloatOperation":{"type":"object","required":["value"],"properties":{"value":{"type":"number","format":"double"}},"title":"AssignFloatOperation"},"AssignIntOperation":{"type":"object","required":["value"],"properties":{"value":{"type":"integer","format":"int32"}},"title":"AssignIntOperation"},"AssignStringOperation":{"type":"object","required":["value"],"properties":{"currentValueCond":{"type":"string"},"value":{"type":"string"}},"title":"AssignStringOperation"},"AttributeDTO":{"type":"object","required":["name","type"],"properties":{"artifactProperties":{"$ref":"#/definitions/ArtifactAttributeDTO"},"boolProperties":{"$ref":"#/definitions/BoolAttributeDTO"},"datetimeProperties":{"$ref":"#/definitions/DatetimeAttributeDTO"},"experimentStateProperties":{"$ref":"#/definitions/ExperimentStateAttributeDTO"},"fileProperties":{"$ref":"#/definitions/FileAttributeDTO"},"fileSetProperties":{"$ref":"#/definitions/FileSetAttributeDTO"},"floatProperties":{"$ref":"#/definitions/FloatAttributeDTO"},"floatSeriesProperties":{"$ref":"#/definitions/FloatSeriesAttributeDTO"},"gitRefProperties":{"$ref":"#/definitions/GitInfoDTO"},"imageSeriesProperties":{"$ref":"#/definitions/ImageSeriesAttributeDTO"},"intProperties":{"$ref":"#/definitions/IntAttributeDTO"},"name":{"type":"string"},"notebookRefProperties":{"$ref":"#/definitions/NotebookRefAttributeDTO"},"stringProperties":{"$ref":"#/definitions/StringAttributeDTO"},"stringSeriesProperties":{"$ref":"#/definitions/StringSeriesAttributeDTO"},"stringSetProperties":{"$ref":"#/definitions/StringSetAttributeDTO"},"type":{"$ref":"#/definitions/AttributeTypeDTO"}},"title":"AttributeDTO"},"AttributeDefinitionDTO":{"type":"object","required":["name","type"],"properties":{"name":{"type":"string"},"type":{"$ref":"#/definitions/AttributeTypeDTO"}},"title":"AttributeDefinitionDTO"},"AttributeTypeDTO":{"type":"string","enum":["experimentState","float","int","bool","string","file","datetime","floatSeries","stringSeries","imageSeries","stringSet","fileSet","gitRef","notebookRef","artifact"]},"AttributesDTO":{"type":"object","required":["attributes","experimentId","organizationId","organizationName","projectId","projectName","type"],"properties":{"attributes":{"type":"array","items":{"$ref":"#/definitions/AttributeDTO"}},"experimentId":{"type":"string","format":"uuid"},"organizationId":{"type":"string","format":"uuid"},"organizationName":{"type":"string"},"projectId":{"type":"string","format":"uuid"},"projectName":{"type":"string"},"type":{"$ref":"#/definitions/ExperimentTypeDTO"}},"title":"AttributesDTO"},"AttributesRequestsListDTO":{"type":"object","required":["requests"],"properties":{"requests":{"type":"array","items":{"$ref":"#/definitions/RequestedAttributes"}}},"title":"AttributesRequestsListDTO"},"AttributesSearchResultDTO":{"type":"object","required":["entries"],"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/AttributeDefinitionDTO"}}},"title":"AttributesSearchResultDTO"},"AuditInfo":{"type":"object","properties":{"accustomedExperimentCreatedAt":{"type":"string","format":"date-time"},"firstExperimentCreatedAt":{"type":"string","format":"date-time"}},"title":"AuditInfo"},"BoolAttributeDTO":{"type":"object","required":["attributeName","attributeType","value"],"properties":{"attributeName":{"type":"string"},"attributeType":{"$ref":"#/definitions/AttributeTypeDTO"},"value":{"type":"boolean"}},"title":"BoolAttributeDTO"},"BulkOpErrorDTO":{"type":"object","required":["experimentIdentifier","message","reason"],"properties":{"experimentIdentifier":{"type":"string","description":"Same format as sent in request."},"message":{"type":"string","description":"Error message."},"reason":{"type":"string","description":"Error reason.","enum":["TRASHED","ALREADY_TRASHED","NOT_EXISTS","NOT_IN_TRASH","ALREADY_FINISHED","IS_PROJECT"]}},"title":"BulkOpErrorDTO"},"BulkOpResultDTO":{"type":"object","required":["errors","updatedExperimentIdentifiers"],"properties":{"errors":{"type":"array","description":"Errors.","items":{"$ref":"#/definitions/BulkOpErrorDTO"}},"updatedExperimentIdentifiers":{"type":"array","description":"The entries updated successfully.","items":{"type":"string"}}},"title":"BulkOpResultDTO"},"CheckpointDTO":{"type":"object","required":["creationTime","description","id","name","notebookId","owner","path","removable","size"],"properties":{"creationTime":{"type":"string","format":"date-time"},"description":{"type":"string"},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"notebookId":{"type":"string","format":"uuid"},"owner":{"type":"string"},"path":{"type":"string"},"removable":{"type":"boolean"},"size":{"type":"integer","format":"int64"}},"title":"CheckpointDTO"},"CheckpointListDTO":{"type":"object","required":["entries","matchingItemCount","totalItemCount"],"properties":{"entries":{"type":"array","description":"The entries matching the given criteria.","items":{"$ref":"#/definitions/CheckpointDTO"}},"matchingItemCount":{"type":"integer","format":"int64","description":"The total number of entries matching the given criteria."},"totalItemCount":{"type":"integer","format":"int64","description":"The total number of entries."}},"title":"CheckpointListDTO"},"CheckpointUpdateDTO":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"}},"title":"CheckpointUpdateDTO"},"ClearFloatSeriesOperation":{"type":"object","title":"ClearFloatSeriesOperation"},"ClearImageSeries":{"type":"object","title":"ClearImageSeries"},"ClearStringSeriesOperation":{"type":"object","title":"ClearStringSeriesOperation"},"ClearStringSetOperation":{"type":"object","title":"ClearStringSetOperation"},"ConfigFloatSeries":{"type":"object","properties":{"min":{"type":"number","format":"double"},"max":{"type":"number","format":"double"},"unit":{"type":"string"}},"title":"ConfigFloatSeries"},"DashboardDTO":{"type":"object","required":["id","layouts","name","type","widgets"],"properties":{"color":{"type":"string"},"icon":{"type":"string"},"id":{"type":"string","format":"uuid"},"layouts":{"$ref":"#/definitions/DashboardLayoutsDTO"},"name":{"type":"string"},"type":{"type":"string","enum":["compare","experiment"]},"widgets":{"type":"array","items":{"$ref":"#/definitions/WidgetDTO"}}},"title":"DashboardDTO"},"DashboardLayoutsDTO":{"type":"object","required":["lg","md","sm","xl","xs"],"properties":{"lg":{"type":"array","items":{"$ref":"#/definitions/WidgetLayoutDTO"}},"md":{"type":"array","items":{"$ref":"#/definitions/WidgetLayoutDTO"}},"sm":{"type":"array","items":{"$ref":"#/definitions/WidgetLayoutDTO"}},"xl":{"type":"array","items":{"$ref":"#/definitions/WidgetLayoutDTO"}},"xs":{"type":"array","items":{"$ref":"#/definitions/WidgetLayoutDTO"}}},"title":"DashboardLayoutsDTO"},"DashboardListDTO":{"type":"object","required":["dashboards"],"properties":{"dashboards":{"type":"array","description":"Dashboard list","items":{"$ref":"#/definitions/DashboardDTO"}}},"title":"DashboardListDTO"},"DatetimeAttributeDTO":{"type":"object","required":["attributeName","attributeType","value"],"properties":{"attributeName":{"type":"string"},"attributeType":{"$ref":"#/definitions/AttributeTypeDTO"},"value":{"type":"string","format":"date-time"}},"title":"DatetimeAttributeDTO"},"DeleteFilesOperation":{"type":"object","required":["filePaths"],"properties":{"filePaths":{"type":"array","items":{"type":"string"}}},"title":"DeleteFilesOperation"},"DeleteVariableOperation":{"type":"object","title":"DeleteVariableOperation"},"Downloa
[...]
