name: neptune-client
on: [push]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Install test dependencies
        run: |
          pip install -r test_requirements.txt
      - name: Lint
        run : |
          python -m pylint -j 0 -f parseable neptune tests
      - name: Build and test
        run : |
          pytest \
           --cov-report xml:tests/coverage-{envname}.xml \
           --cov . \
           -n 4 \
           --dist=loadfile \
           --junitxml tests/results-{envname}.xml \
           tests/neptune
  publish:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Build and test
        run : |
          python setup.py sdist
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@54b39fb9371c0b3a6f9f14bb8a67394defc7a806
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
