name: Pull Request
on:
  pull_request:
  push:
    branches-ignore:
      - master
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Lint
        uses: ./.github/actions/lint

  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7", "3.10"] # minimum, maximum
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Tests
        uses: ./.github/actions/tests

  publish-tests:
    needs: [test]
    runs-on: ubuntu-latest
    if: always()
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Publish tests
        uses: ./.github/actions/publish-tests-result
