name: release

on:
  push:
    tags:
      - "*"

jobs:
        #  wait-for-green-master:
        #    runs-on: ubuntu-latest
        #    steps:
        #      - name: Wait for tests to finish
        #        uses: lewagon/wait-on-check-action@v1.3.1
        #        with:
        #          ref: ${{ github.ref }}
        #          running-workflow-name: 'wait-for-green-master'
        #          repo-token: ${{ secrets.NEPTUNE_BOT_ACCESS_TOKEN }}
        #          wait-interval: 60

  build-neptune:
    runs-on: ubuntu-latest
    #    needs: [wait-for-green-master]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install build dependencies
        run: pip install poetry poetry-dynamic-versioning

      - name: Build package
        run: poetry build

      - uses: actions/upload-artifact@v4
        with:
          name: neptune-package
          path: dist/

  test-clean-install-neptune:
    needs: [ build-neptune ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: neptune-package
          path: dist

      - name: Install neptune package
        run: pip install --force-reinstall --pre -f ./dist neptune

      - name: List dependencies
        run: pip list

      - name: Test imports
        run: python -c "from neptune import init_run"

  publish-neptune:
    needs:
      - build-neptune
      - test-clean-install-neptune
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: neptune-package
          path: dist/

#      - name: Uploading to test PyPI
#        uses: pypa/gh-action-pypi-publish@v1.10.3
#        with:
#         user: __token__
#         password: ${{ secrets.TEST_PYPI_API_TOKEN }}
#         repository_url: https://test.pypi.org/legacy/

      - name: Uploading to PyPI
        uses: pypa/gh-action-pypi-publish@v1.10.3
        with:
          user: __token__
          password: ${{ secrets.NEPTUNE_PYPI_API_TOKEN }}
