name: set_neptune_ref

on:
  workflow_call:
    inputs:
      workflow_call_input_neptune_ref:
        description: 'neptune_ref obtained from workflow call'
        required: false
        type: string
    outputs:
      neptune_ref:
        description: 'evaluated neptune_ref'
        value: ${{ jobs.set_neptune_ref.outputs.neptune_ref }}


jobs:
  set_neptune_ref:
    runs-on: ubuntu-latest
    outputs:
      neptune_ref: ${{ steps.set_neptune_ref.outputs.neptune_ref }}
    steps:
      - name: Set neptune_ref env variable
        id: set_neptune_ref
        run: |
          if [ ${{ inputs.workflow_call_input_neptune_ref }} != '' ]; then
            echo "inputs.workflow_call_input_neptune_ref provided. Using it as neptune_ref"
            echo "neptune_ref=${{ inputs.workflow_call_input_neptune_ref }}" >> "$GITHUB_OUTPUT"
          else
            ehco "inputs.workflow_call_input_neptune_ref not provided. Using github.ref as neptune_ref"
            echo "neptune_ref=${{ github.ref }}" >> "$GITHUB_OUTPUT"
          fi
        shell: bash
      - name: Read debug variables
        run: |
          echo "inputs.workflow_call_input_neptune_ref=${{ inputs.workflow_call_input_neptune_ref }}"
          echo "github.event_name=${{ github.event_name }}"
          echo "steps.set_neptune_ref.outputs.neptune_ref=${{ steps.set_neptune_ref.outputs.neptune_ref }}"
