name: unit

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *" # Run every day at arbitrary time (4:00 AM UTC)
  push:
    branches:
      - master

jobs:
  # test:
  #   timeout-minutes: 75
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]
  #       os: [ubuntu, windows]
  #       include:
  #         - python-version: "3.8"
  #           os: macos
  #         - python-version: "3.9"
  #           os: macos
  #         - python-version: "3.10"
  #           os: macos
  #         - python-version: "3.11"
  #           os: macos
  #         - python-version: "3.12"
  #           os: macos

  #   name: 'test (${{ matrix.os }} - py${{ matrix.python-version }})'
  #   runs-on: ${{ matrix.os }}-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0
  #         ref: ${{ github.event.client_payload.pull_request.head.ref }}

  #     - name: Run tests
  #       uses: ./.github/actions/test-unit
  #       with:
  #         python-version: ${{ matrix.python-version }}
  #         os: ${{ matrix.os }}
  #         report_job: 'test (${{ matrix.os }} - py${{ matrix.python-version }})'
  #         codecov-token: ${{ secrets.CODECOV_TOKEN }}
  test:
    timeout-minutes: 75
    name: Try not to fail
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.client_payload.pull_request.head.ref }}

      - name: Dummy fail
        run: echo "we good"


  unit-tests-notify:
    needs: [ test ]
    runs-on: ubuntu-latest
    if: (success() || failure())
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.client_payload.pull_request.head.ref }}

      - name: Notify
        uses: ./.github/actions/workflow-notify-v2
        with:
          slack-webhook: ${{ secrets.E2E_REGULAR_SLACK_WEBHOOK }}
